body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #eee;
}

header {
	margin: 0;
}

.site-title {
	font-weight: 100;
	margin: 0;
	background-color: #97bfe8;
	padding: 12px;
	color: white;
	text-align: center;
	font-size: 80px;
	font-family: 'VT323', monospace;

}

.navbar {
	background-color: white;
	margin: 0;
	padding: 15px;
  margin-bottom: 20px
}

.navlist {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navitem {
	display: inline-block;
}

.navitem.signin-up {
	float: right;
}

button {
	outline: none;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 50px;
  display: inline-block;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #f5f4f4;
  border: 1px solid #dadada;
  border-radius: 2px;
  width: 500px;

}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 25px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #97bfe8;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

#sign-in-button {
	border-radius: 3px;
	background: none;
	border: 1px solid #dadada;
	font-size: 18px;
	padding: 5px;
	margin: 0;
	margin-left: 3px;
}

#sign-up-button {
	border-radius: 3px;
	background: none;
	border: 1px solid #dadada;
	font-size: 18px;
	margin: 0;
	padding: 5px;
  margin-left: 3px;
}

#logout-button {
	border-radius: 3px;
	background: none;
	border: 1px solid #dadada;
	font-size: 18px;
	margin: 0;
	padding: 5px;
  margin-left: 3px;
}

#sign-in-button:hover {
	color: white;
	background-color: #97bfe8;
	border: 1px solid #97bfe8;
	cursor: pointer;
}

#sign-up-button:hover {
	color: white;
	background-color: #97bfe8;
	border: 1px solid #97bfe8;
	cursor: pointer;
}

#logout-button:hover {
	color: white;
	background-color: #97bfe8;
	border: 1px solid #97bfe8;
	cursor: pointer;
}

.rewiews-from-this-week {
	text-align: center;
	font-family: 'VT323', monospace;
	font-size: 45px;
	color: #828080;
}

.review-container {
	display: flex;
  	flex-wrap: wrap;
  	margin: 20px, 10%;
  	justify-content: center;
}

.review {
	flex: 0 1 50%;
	background-color: white;
	margin: 5px;
	border: 1px solid #dadada;
	border-radius: 3px;
	max-width: 300px;
}

.review-content {
	padding: 5px;
	text-align: center;
}

#create-review-button {
	font-size: 20px;
	text-align: center;
	background-color: white;
	border: 1px solid #dadada;
	border-radius: 3px;
	text-align: center;
  margin-left: 0;
  margin-right: 20px;
}

#create-review-button:hover {
	background-color: #97bfe8;
	color: white;
	border: 1px solid #97bfe8;
}

#user-cookie {
  margin: 6px;
}

.star-rating{
    font-size: 0;
}
.star-rating__wrap{
    display: inline-block;
    font-size: 3rem;
}
.star-rating__wrap:after{
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico{
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}
.star-rating__ico:last-child{
    padding-left: 0;
}
.star-rating__input{
    display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
    content: "\f005";
}
